BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Line length
ColumnLimit: 110

# Braces & control flow
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never

# Access specifiers (important for multi-class files)
IndentAccessModifiers: true
AccessModifierOffset: -2

# Alignment
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

# Spacing
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointers / references
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Constructors
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2

# Templates & lists
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true

# Includes
SortIncludes: true
IncludeBlocks: Preserve
